*
!.gitignore
!.github/
!.github/workflows/
!.github/workflows/deploy.yml
!themes/
!themes/nishiki-pro-child/
!themes/nishiki-pro-child/**
themes/twentytwentyfive/
themes/twentytwentyfour/
themes/twentytwentythree/
